In [1]:
class CoffeeMachine:
    def __init__(self):
        self._water_level = 0  # This is intended to be a private attribute

    def add_water(self, amount):
        if amount > 0:
            self._water_level += amount
            print(f"Added {amount} units of water")
        else:
            print("Cannot add negative water")

    def make_coffee(self):
        if self._water_level > 0:
            self._water_level -= 1  # Use some water
            print("Making coffee...")
        else:
            print("Please add water first!")

# Using the class
my_coffee_machine = CoffeeMachine()
my_coffee_machine.add_water(5)
my_coffee_machine.make_coffee()

Added 5 units of water
Making coffee...

In [2]:
base_salary = 30_000
overtime = 10
rate = 20

def get_wage(base_salary, overtime, rate):
    return base_salary + (overtime * rate)

# Call the function and print the result
print(get_wage(base_salary, overtime, rate))



class Employee:
    def __init__(self, base_salary, overtime, rate):
        self.base_salary = base_salary
        self.overtime = overtime
        self.rate = rate

    def get_wage(self):
        return self.base_salary + (self.overtime * self.rate)

# Create an instance of Employee
employee = Employee(30_000, 10, 20)

# Call the method and print the result
print(employee.get_wage())

30200
30200

In [6]:
#wrong way
base_salary = 30000
overtime = 10
rate = 20

def get_wage(base_salary, overtime, rate):
  return base_salary + (overtime * rate)

print(get_wage(base_salary, overtime, rate))

30200

In [7]:
class Student:
   def __init__(self, name="Rajaram", marks=50):
      self.name = name
      self.marks = marks

s1 = Student()
s2 = Student("Bharat", 25)

print ("Name: {} marks: {}".format(s1.name, s2.marks))
print ("Name: {} marks: {}".format(s2.name, s2.marks))

Name: Rajaram marks: 25
Name: Bharat marks: 25